<nav id="nav" class="scrolled">
  <a href="/" class="brand"><span class="dot">IDN</span> ID-Networkers <b>LAB</b></a>
  <div class="navlinks">
    <a href="/#kategori">Kategori</a>
    <a href="/#training">Training</a>
    <a href="/#kenapa">Kenapa IDN</a>
    <a href="/admin">Admin</a>
  </div>
  <a href="/#training" class="btn btn-dark" data-ripple>Daftar Sekarang</a>
</nav>
